In [8]:
import yfinance as yf

In [21]:
ticks = yf.Ticker("1COV.DE")

In [24]:
hist = ticks.history(
    interval = '1d',
    start="2023-06-02",
    end="2023-06-14",
    repair=True)

In [25]:
hist.sort_values(by='Date', ascending=False)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Repaired?
Date,,,,,,,,
2023-06-13 00:00:00+02:00,13.466666,14.266666,13.000000,13.253333,13821,0.0,0.0,False
2023-06-12 00:00:00+02:00,13.013333,15.300000,13.000000,13.466666,16230,0.0,0.0,False
2023-06-09 00:00:00+02:00,13.000000,13.146666,12.933333,13.013333,6454,0.0,0.0,False
2023-06-08 00:00:00+02:00,13.000000,13.000000,12.680000,13.000000,39523,0.0,0.0,False
2023-06-07 00:00:00+02:00,12.893333,13.120000,12.680000,13.053333,21409,0.0,0.0,False
2023-06-05 00:00:00+02:00,12.760000,13.106666,12.693333,12.893333,14721,0.0,0.0,False
2023-06-02 00:00:00+02:00,12.346666,13.106666,12.306666,12.760000,53020,0.0,0.0,False

In [7]:
hist.sort_values(by='Date', ascending=False).to_csv('hist.csv')