In [8]:
# import yfinance as yf
import pandas as pd
import os
from os.path import join
from datetime import datetime, timezone
import pandas as pd

In [10]:
df = pd.read_csv('valid_tickers.csv')

df

,,['validity','date','free_cash_flow','total_assets','market_cap','total_revenue','currency_code','ticker']
('AAPL',datetime.date(2023,7,15),'USD',2999305895936,394328000000,111443000000,352755000000,True)
('T',datetime.date(2023,7,15),'USD',103660503040,120741000000,12397000000,402853000000,True)
('GOOG',datetime.date(2023,7,15),'USD',1594014302208,282836000000,60010000000,365264000000,True)
('MO',datetime.date(2023,7,15),'USD',81201471488,20688000000,8051000000,36954000000,True)
('AA',datetime.date(2023,7,15),'USD',6545544192,12451000000,342000000,14783000000,True)
...,...,...,...,...,...,...,...,...,...
('3498.TWO',datetime.date(2023,7,16),'TWD',2428522240,1740809000,76141000,3823826000,True)
('3678.TWO',datetime.date(2023,7,16),'TWD',1398599936,493171000,121209000,881040000,True)
('1304.TW',datetime.date(2023,7,16),'TWD',23912290304,66437122000,6969015000,77741569000,True)
('4FB.F',datetime.date(2023,7,16),'EUR',2415864064,1105800000,523900000,32287800000,True)
('6CU.F',datetime.date(2023,7,16),'EUR',260961280,53218000,-226323000,712270000,True)

In [1]:
from pytickersymbols import PyTickerSymbols

stock_data = PyTickerSymbols()
countries = stock_data.get_all_countries()

In [12]:
import requests
key = '9CCN5AKTPKGLE37P'
keywords = 'nvidia'
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = f'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords={keywords}&apikey={key}'
r = requests.get(url)
data = r.json()

print(data)

{'bestMatches': [{'1. symbol': 'NVDA', '2. name': 'NVIDIA Corp', '3. type': 'Equity', '4. region': 'United States', '5. marketOpen': '09:30', '6. marketClose': '16:00', '7. timezone': 'UTC-04', '8. currency': 'USD', '9. matchScore': '0.8000'}, {'1. symbol': '0R1I.LON', '2. name': 'NVIDIA Corp.', '3. type': 'Equity', '4. region': 'United Kingdom', '5. marketOpen': '08:00', '6. marketClose': '16:30', '7. timezone': 'UTC+01', '8. currency': 'USD', '9. matchScore': '0.6667'}, {'1. symbol': 'NVD.FRK', '2. name': 'NVIDIA Corporation', '3. type': 'Equity', '4. region': 'Frankfurt', '5. marketOpen': '08:00', '6. marketClose': '20:00', '7. timezone': 'UTC+02', '8. currency': 'EUR', '9. matchScore': '0.5455'}, {'1. symbol': 'NVDC34.SAO', '2. name': 'NVIDIA Corporation', '3. type': 'Equity', '4. region': 'Brazil/Sao Paolo', '5. marketOpen': '10:00', '6. marketClose': '17:30', '7. timezone': 'UTC-03', '8. currency': 'BRL', '9. matchScore': '0.5333'}, {'1. symbol': 'NVDG.FRK', '2. name': 'NVIDIA CORP. CDR REG.S', '3. type': 'Equity', '4. region': 'Frankfurt', '5. marketOpen': '08:00', '6. marketClose': '20:00', '7. timezone': 'UTC+02', '8. currency': 'EUR', '9. matchScore': '0.5000'}, {'1. symbol': 'NVD.DEX', '2. name': 'NVIDIA Corporation', '3. type': 'Equity', '4. region': 'XETRA', '5. marketOpen': '08:00', '6. marketClose': '20:00', '7. timezone': 'UTC+02', '8. currency': 'EUR', '9. matchScore': '0.5000'}]}

In [14]:
pd.DataFrame(data['bestMatches'])

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,NVDA,NVIDIA Corp,Equity,United States,09:30,16:00,UTC-04,USD,0.8000
1,0R1I.LON,NVIDIA Corp.,Equity,United Kingdom,08:00,16:30,UTC+01,USD,0.6667
2,NVD.FRK,NVIDIA Corporation,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.5455
3,NVDC34.SAO,NVIDIA Corporation,Equity,Brazil/Sao Paolo,10:00,17:30,UTC-03,BRL,0.5333
4,NVDG.FRK,NVIDIA CORP. CDR REG.S,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.5000
5,NVD.DEX,NVIDIA Corporation,Equity,XETRA,08:00,20:00,UTC+02,EUR,0.5000

In [ ]:
dax_yahoo